body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(42,59,73);
    user-select: none;
}

.doList {
position: absolute;
top: 170px;
}

ul li::before{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 1px solid black;
    content: "";
    position: absolute;
 /*  background-image: url(check\ \(1\).png); */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
    
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

ul li.checked {
    text-decoration: line-through;
    color: rgb(255, 142, 142);
    text-decoration-thickness: 3px;
}

ul li.checked::before{
    background-image: url(check\ \(1\).png);
    background-size: 17px;
    background-color: rgb(255, 142, 142);
    border: none;
    
}

ul li span {
    position: absolute;
    left: 350px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 22px;
    
}

ul li span:hover {
    background: rgb(241, 240, 240);
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

section {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 700px;
    border-radius: 70px;
    margin: auto;
    margin-top: 100px;
    

}

.inputItem{
    border: 2px solid rgb(42,59,73);
    width: 300px;
    height: 35px;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 50px;
    
}

.noticeButton {
    border: none;
    position: relative;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    left: 60px;
    top:30px ;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
    background-color: rgb(67, 95, 117);
    color: rgb(255, 255, 255);
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.noticeButton:hover {
    transform: scale(1.2);
}
.limit {
    position: relative;
    bottom: -550px;
    color: red;
    text-align: center;
}

.info {
    width: 420px;
    height: 60px;
    position: absolute;
    background-color: rgb(67, 95, 117);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    top: 720px;
}